
<div class="dropdown h-100">
  <div #toggleBtn class="input-group h-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    @if (icon !== '') {
        <span class="input-group-text">
            <i class="{{icon}}"></i>
        </span>
    }
    
    @if (selectedItem && !isTyping) {
        <div class="selected-display flex-grow-1 form-control"
            (click)="startTyping()">
            <!-- use same template as dropdown -->
            <ng-container *ngTemplateOutlet="option; context: { $implicit: selectedItem }"></ng-container>
        </div>
    } @else if (isTyping || !selectedItem) {
        <input type="text"
            #searchInput
           class="form-control"
           [placeholder]="placeholder"
           [(ngModel)]="searchTerm"
           (ngModelChange)="onSearch()"
           (blur)="stopTyping()"
           appClickOutside (clickOutside)="stopTyping()"
           [ngClass]="{'border border-start-0 border-end-0': selectedItem}" (click)="startTyping()"/>
    }

     @if (selectedItem) {
        <span class="input-group-text">
            <button type="button" class="btn-close" aria-label="Close" (click)="clear($event)"></button>
        </span>
     }
  </div>

  <ul class="dropdown-menu w-100">
    @for (item of items; track $index) {
        <li class="dropdown-item d-flex justify-content-between align-items-center p-0"
            [ngClass]="{'active': item === selectedItem, 'border-bottom border-light-subtle': !$last }">
            <button type="button" class="btn text-start w-100 py-2" (click)="select(item)">
                <ng-container *ngTemplateOutlet="option; context: { $implicit: item }"></ng-container>
            </button>
        </li>
    }
  </ul>
</div>
<ng-template #option let-item>
    @if (optionTemplate) {
        <ng-container
            [ngTemplateOutlet]="optionTemplate"
            [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
    } @else {
        <ng-template #defaultOption>
            <span>{{ (itemDescriptionField ? $any(item)[itemDescriptionField] : itemDescription) }}</span>
        </ng-template>
    }
</ng-template>