.input-group-text {
    background-color: var(--bs-body-bg);
    border-right: none;
}

.input-group > input {
    border-left: none;

    &:focus {
        color: unset;
        background-color: unset;
        border: 0;
        outline: unset;
        box-shadow: unset;
    }
}

.input-group:focus-within {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.input-group:focus-within > .input-group-text {
    border: none;
}

.input-group {
    height: calc(16px * 4);
    left: 25%;
}

hr {
    margin: 0;
}