app-dropdown-filter, .input-group {
    max-height: calc(16px * 4);
    height: 30%;
}

hr {
    margin: 0;
}

.search-section {
    height: 25vh;
    background-image: url("https://www.shutterstock.com/image-photo/construction-site-excavators-on-sunny-600nw-2389090153.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-card {
    display: flex;
    flex-direction: column;
}